@{
    ViewBag.Title = "Universally Shared Psychosis";
}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.Title</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 tool-item">
                <a href="@Url.Action("Index", "Chargen")" class="tool-link">
                    <img src="//c1.staticflickr.com/9/8156/7602616106_014e126146_n.jpg" class="img-responsive" alt="Character creation">
                    <h3>
                        <blockquote>
                            <p>Character Generator</p>
                        </blockquote>
                    </h3>
                </a>
            </div>
        </div>
    </div>
</section>