<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>England</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Related Links</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://usp.passle.net" class="btn-social btn-outline" title="News"><i class="fa fa-fw fa-newspaper-o"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/intent/user?screen_name=reiversolutions" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://reiversolutions.tip.me" class="btn-social btn-outline"><i class="fa fa-fw fa-beer" title="Buy me a pint"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About the author</h3>
                    <p class="justify">
                        Avid roleplayer and programmer by day. I've tried to create rpgs
                        people can enjoy.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    &copy; @DateTime.Now.Year Reiver Solutions
                </div>
            </div>
        </div>
    </div>
</footer>