@{
    ViewBag.Title = "Character Generator";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap-tour.min.css">
}

@section scripts {
    @Scripts.Render("~/scripts/tour")
}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.Title</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_characterSheet")
            </div>
        </div>
    </div>
</section>